h1 {
    text-align: center;
}

#info img {
    width: 30vh;
    height: auto;
}



.logo-pr {
    width: 80px;
    height: auto;
}

#info a {
    color: #ffffff;
}

.font {
    font-family:'Courier New', Courier, monospace;
    font-size: 7vh;
    font-weight: 700;
}

.contenedor {
    background-color: rgba(256, 256, 256, 0.450);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgcustom {
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 1000px) {
    img {
        display: flex;
        width: 50vh;
        height: auto;
        align-items: center;
    }

    .tamaño-texto {
        font-size: 5vh;
    }
}